@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    text-size-adjust: auto;
    margin: 0 auto;
}

/* header */
header{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1;
    padding-top: 0.5rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    float: left;
    padding: 20px 10px 20px 10px;
}
li a{
    padding: 16px 0 16px 0;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
li a:hover{
    border-bottom: 0.2em solid transparent;
    border-image: linear-gradient(to right,  hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-image-slice: 1;
}
nav{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1;
}
.request{
    font-size: 18px;
    color: hsl(0, 0%, 98%);
    width: 9em;
    height: 2.5em;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
}
.request:hover{
    background-image: linear-gradient(to right, hsl(136, 65%, 66%), hsl(192, 70%, 66%));
}
/* section 1 */
.section0{
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    flex-wrap: wrap;
    background: fixed;
    background-color: hsl(0, 0%, 98%);
    position: relative;
    z-index: 0;
}
.mockup{
    width: 40%;
}
.image{
    position: absolute;
}
.imageOne{
    z-index: 1;
    top: -7rem;
    right: -8rem;
}
.imageTwo{
    z-index: -1;
    top: -15rem;
    right: -25rem;
}
.section1{
    padding: 1rem;
    padding: 12.5rem 0;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.ad{
    width: 100%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.ad p{
    line-height: 2rem;
    padding: 1.5rem 0;
    color: hsl(233, 8%, 62%);
    text-size-adjust: auto;

}
.ad p:nth-child(1){
    line-height: 4rem;
    font-size: 5vh;
    padding: 0;
    color: hsl(233, 26%, 24%);
}

/* section 2 */
.section20{
    background-color: hsl(220, 16%, 96%);
}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    padding: 8rem 0;
}
.section2 p:nth-child(1){
    line-height: 4rem;
    font-size: 3rem;
    padding: 0;
    color: hsl(233, 26%, 24%);
}
.section2 p:nth-child(2){
    line-height: 2rem;
    padding: 1.5rem 0;
    color: hsl(233, 8%, 62%);
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    padding-right: 2rem;
}
.card p:nth-child(2){
    line-height: 1rem;
    font-size: 1.2rem;
    color: hsl(233, 26%, 24%);
}
.card p:nth-child(3){
    line-height: 2rem;
    padding-top: 1rem;
    color: hsl(233, 8%, 62%);
}
.ad2{
    padding-bottom: 5rem;
}

/* section 3 */
.section30{
    background-color: hsl(0, 0%, 98%);
}
.section3{
    width: 80%;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cardImg{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.imgCard{
    padding: 2rem;
    padding-top: 1rem;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section3ad{
    line-height: 4rem;
    font-size: 3rem;
    color: hsl(233, 26%, 24%);
    padding-bottom: 5rem;
}
.review{
    font-size: 2vh;
    color: hsl(233, 8%, 62%);
    padding: 1rem 0;
}
#headline{
    font-size: 2vh;
    line-height: 2vh;
    color: hsl(233, 26%, 24%);
}
#writing{
    line-height: 1.7vh;
    color: hsl(233, 8%, 62%);
    font-size: 1.6vh;
}
.section3 > .cards {
    position: relative;
}
/* footer */
footer{
    background-color: hsl(233, 26%, 24%);
    position: sticky;
}
.footer{
    padding-top: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
    flex-wrap: wrap;
}
.container1{
    padding-top: 1vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box1, .box2, .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
}
.box3{
    font-size: 15.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.socialLinks{
    padding: 4vh;
}
.socialLinks img{
    padding: 0.6vh;
}
.foo{
    padding-bottom: 2vh;
    color: hsl(220, 16%, 96%);
}
.container2{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    color: hsl(233, 8%, 62%);
    font-size: 15.5px;
}
.container2 p{
    padding-top: 3vh;
}
.mockmobile{
    display: none;
}
@media(max-width: 768px){
    .mockmobile{
        display: block;
        margin: 0 auto;
    }
    .cards{
        margin: 0 auto;
    }
    .card{
        padding-right: 0;
    }
    .image{
        position: relative;
    }
    .img1{
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
    }
    .img2{
        width: 100%;
        position: relative;
        top: -3rem;
    }
    .cards{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .section0{
        flex-direction: column;
        justify-content: space-around;
    }
    .cards{
        text-align: center;
        flex-wrap: wrap;
    }
    .mockup{
        width: 100%;
        margin: 0 auto;
    }
    .image{
        position: static;
    }
    .imageTwo{
        display: none;
    }
    .imageOne {
        display: none;
    }
    .mockup{
        width: 100%;
    }
    nav button{
        display: none;
    }
    .section1{
        margin: 0;
        width: 100%;
        padding: 2rem;
    }
    .section3ad{
        padding-bottom: 0rem;
    }
    .section3ad p{
        font-size: 2rem;
    }
    .card{
        margin-top: 2rem;
    }
    .footer{
        padding-left: 5rem;
    }
    .container2{
        position: relative;
        right: 2rem;
        padding-bottom: 2rem;
    }
    .container2 p{
        font-size: small;
    }
    .box1{
        align-items: flex-start;
        position: relative;
        right: 3rem;
    }
    .socialLinks{
        padding: 0;
        width: 200px;
    }
    .container1{
        padding-left: 3rem;
    }
}
.toggler .bar {
    width: 100%;
    background-color: hsl(233, 8%, 62%);
    border-radius: 10px;
    height: 3px;
}
.toggler {
    width: 30px;
    height: 21px;
    position: absolute;
    top: .75rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    right: 1rem;
}
@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .toggler{
        display: flex;
    }

    .nav-links > ul {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }
}

